# Preseed file is used to automate installation
# Further explantaion, options and examples: https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html
# More here: https://wiki.debian.org/DebianInstaller/Preseed

### Localization
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-l10n
#   Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US.UTF-8
#   KEYBOARD - architecture and a keymap
d-i console-setup/ask_detect boolean false

# keyboard layout
d-i keyboard-configuration/layoutcode string us

### Network configuration
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-network
#   HOSTNAME - IMPORTANT: don't use '.' (dot) in your veewee definition boxname!!!
d-i netcfg/get_hostname string sanity-test
d-i netcfg/get_domain string local
#   MIRROR
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-network-console
#   simpler default than above link
choose-mirror-bin mirror/http/proxy string

### Clock and time zone setup
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-time
d-i time/zone string UTC
d-i clock-setup/ntp boolean true
d-i clock-setup/utc boolean true

### Partitioning
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-partman
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm_nooverwrite boolean true
# This makes partman automatically partition without confirmation
d-i partman-lvm/confirm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

### Base system installation
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-base-installer
#   The kernel image (meta) package to be installed; "none" can be used if no
#   kernel is to be installed.
#d-i base-installer/kernel/image string linux-generic

### Account setup
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-account
#d-i passwd/root-login boolean true
#d-i passwd/root-password password aoxmflrtm
#d-i passwd/root-password-again password aoxmflrtm
#   Setup default user
d-i passwd/user-fullname string sanity-test
d-i passwd/username string snow
d-i passwd/user-password password aoxmflrtm
d-i passwd/user-password-again password aoxmflrtm
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true
d-i passwd/auto-login boolean true

### APT setup
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-apt
#   You can choose to install restricted and universe software, or to install
#   software from the backports repository.
d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true
#d-i apt-setup/backports boolean true
#   Uncomment this if you don't want to use a network mirror.
#d-i apt-setup/use_mirror boolean false
#   Select which update services to use; define the mirrors to be used.
#   Values shown below are the normal defaults.
d-i apt-setup/services-select multiselect security
d-i apt-setup/security_host string security.ubuntu.com
d-i apt-setup/security_path string /ubuntu

### Package selection
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-pkgsel
#   Install Ubuntu desktop
tasksel tasksel/first multiselect xubuntu-desktop

#   Individual additional packages to install
#   Minimum packages for veewee and virtualbox

# pkgsel/include doesn't work on trusty
#d-i pkgsel/include string openssh-server build-essential debconf-utils
#d-i pkgsel/include string openssh-server build-essential

#   Whether to upgrade packages after debootstrap.
#   Allowed values: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select none

d-i pkgsel/language-packs multiselect en, ko, ja

# Policy for applying updates. May be
#   "none" (no automatic updates),
#   "unattended-upgrades" (install security updates automatically), or
#   "landscape" (manage system with Landscape).
d-i pkgsel/update-policy select none

# Some versions of the installer can report back on what software you have
# installed, and what software you use. The default is not to report back,
# but sending reports helps the project determine what software is most
# popular and include it on CDs.
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-bootloader
d-i grub-installer/only_debian boolean true

### Finishing
#   https://help.ubuntu.com/lts/installation-guide/i386/preseed-contents.html#preseed-finish
#   Prevent automatic reboot, so that a veewee script can control this
#d-i finish-install/reboot_in_progress note

d-i preseed/late_command string in-target /usr/bin/apt-get install openssh-server build-essential debconf-utils

### automatic reboot
ubiquity ubiquity/reboot boolean true

